<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head :: head('agendar evento')}"></head>

<body class="sb-nav-fixed">
	<header th:insert="~{fragmentos/nav-bar :: nav-bar}"></header>
	<div id="layoutSidenav" th:insert="~{fragmentos/sidebar :: sidebar}"></div>
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7" style="margin-top: 10%; width: 1450px; height: 1200px;">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Agendar Evento</h3>
						</div>

						<div class="card mb-4" style="margin-top: 10%;">
							<div class="card-body">
								<form class="row g-2" method="post" th:action="@{/agendar/evento}"
									th:object="${evento}">
									<div th:if="${msg != null}" class="card-header">
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											<strong th:text="${msg}"></strong>
											<button type="button" class="btn-close" data-bs-dismiss="alert"
												aria-label="Close"></button>
										</div>
									</div>

									<div class="col-md-4">
										<label for="id" class="form-label">ID</label>
										<input type="text" readonly="readonly" class="form-control" id="id"
											th:field="*{id}" placeholder="id evento">
									</div>


									<div class="col-md-6">
										<label for="nomeEvento" class="form-label">EVENTO</label>
										<input type="text" class="form-control" id="nomeEvento" th:field="*{nomeEvento}"
											th:errorClass="is-invalid" placeholder="nome do evento">
										<div class="invalid-feedback" th:errors="*{nomeEvento}"></div>
									</div>

									<div class="col-6">
										<label for="dataEvento" class="form-label">DATA EVENTO</label>
										<input type="date" class="form-control" id="dataEvento" th:field="*{dataEvento}"
											pattern="yyyy-mm-dd" th:errorClass="is-invalid"
											placeholder="data do avento">
										<div class="invalid-feedback" th:errors="*{dataEvento}"></div>

									</div>


									<div class="col-6">
										<label for="cidade" class="form-label">NOME DA CIDADE</label>
										<input type="text" class="form-control" id="cidade"
											th:field="*{inderecoEvento.cidade}" th:errorClass="is-invalid"
											placeholder="nome da  cidade ">
										<div class="invalid-feedback" th:errors="*{inderecoEvento.cidade}"></div>
									</div>

									<div class="col-md-6">
										<label for="bairro" class="form-label">NOME DO BAIRRO</label>
										<input type="text" class="form-control" id="bairro"
											th:field="*{inderecoEvento.bairro}" th:errorClass="is-invalid"
											placeholder="nome do bairro">
										<div class="invalid-feedback" th:errors="*{inderecoEvento.bairro}"></div>
									</div>


									<div class="col-md-6">
										<label for="rua" class="form-label">NOME DA RUA</label>
										<input type="text" class="form-control" id="rua"
											th:field="*{inderecoEvento.rua}" th:errorClass="is-invalid"
											placeholder="nome da rua ">
										<div class="invalid-feedback" th:errors="*{inderecoEvento.rua}"></div>
									</div>

									<div class="col-md-6">
										<label for="rua" class="form-label">LOCAL DO EVENTO</label>
										<input type="text" class="form-control" id="local"
											th:field="*{inderecoEvento.nomeLocal}" th:errorClass="is-invalid"
											placeholder="nome do local do evento ">
										<div class="invalid-feedback" th:errors="*{inderecoEvento.nomeLocal}"></div>
									</div>


									<div class="col-md-4">
										<label for="numero" class="form-label">NUMERO DO LOCAL </label>
										<input type="text" class="form-control" id="numero"
											th:field="*{inderecoEvento.numero}" th:errorClass="is-invalid"
											placeholder="numero do local">
										<div class="invalid-feedback" th:errors="*{inderecoEvento.numero}"></div>
									</div>

									<div class="col-md-4">
										<label for="status" class="form-label">STATUS EVENTO</label>
										<select id="eventoStatus" name="eventoStatus" class="form-select">
											<option selected>[--STATUS EVENTO--]</option>
											<option th:each="enum : ${T (erick.br.enums.EventoStatus).values()}"
												th:value="${enum}" th:text="${enum}"></option>
										</select>
									</div>
									<div class="col-12">
										<br>
										<br>
										<button type="submit" class="btn btn-primary">AGENDAR</button>
										<button type="button" class="btn btn-primary">NOVO</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<br>
					<br>

					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							TABELA DE EVENTOS
						</div>
						<div class="card-header">
							<div style="height: 300px; overflow: scroll;" class="col-md-12">
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="consultar eventos"
										aria-label="Recipient's username" aria-describedby="button-addon2">
									<button class="btn btn-success" type="button" id="button-addon2">Consultar
										Evento</button>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">EVENTO</th>
											<th scope="col">STATUS</th>
											<th scope="col">DATA</th>
											<th scope="col">EDITAR</th>
											<th scope="col">DELETAR</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="p : ${paginas}">
											<td th:text="${p.id}"></td>
											<td th:text="${p.nomeEvento}"></td>
											<td th:text="${p.eventoStatus}"></td>
											<td th:text="${p.dataEvento}"></td>
											<td><a th:href="@{/evento/{id}/editar(id=${p.id})}" class="btn btn-success"
													id="button-addon2">EDITAR EVENTO</a></td>
											<td><a th:href="@{/evento/{id}/deletar(id=${p.id})}" class="btn btn-danger"
													id="button-addon2">DELETAR EVENTO</a></td>
										</tr>
									</tbody>
								</table>
								<div class="footer-card" style="color: white;">
									<span th:if="${paginas.hasPrevious()}">
										<a th:class="page-link" style="display: inline-block ; background-color: #0000FF; width: 120px;  text-align: center; padding: 10px;">Anterior</a>
									</span>
									<th:block th:each="totalPaginas : ${#numbers.sequence(0 , paginas.totalPages - 1)}">
										<a th:class="page-link"
											style="display: inline-block ; background-color: #0000FF	; width: 40px;  text-align: center; padding: 10px;"
											href="#">[[${totalPaginas}+1]]</a>
									</th:block>
									
									<span th:if="${paginas.hasNext()}">
										<a th:class="page-link" style="display: inline-block ; background-color: #0000FF	; width: 120px;  text-align: center; padding: 10px;">Proximo</a>
									</span>
								</div>
							</div>

						</div>
					</div>

					<!--
						
						<div class="footer-card">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item"><a th:if="${paginas.hasPrevious()}" class="page-link"
										href="#">Anterior</a></li>

								<li class="page-item"><a class="page-link"
										th:each="totalPaginas : ${#numbers.sequence(0 , paginas.totalPages - 1)}"
										href="#">[[${totalPaginas}+1]]</a></li>

								<li class="page-item"><a th:if="${paginas.hasNext()}" class="page-link"
										href="#">Proximo</a></li>
							</ul>
						</nav>
					</div>
					-->
	</main>



</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
	crossorigin="anonymous"></script>

</html>