<!DOCTYPE html>
<html lang="pt-br">

<head th:insert="~{fragmentos/head :: head('home')}"></head>

<body class="sb-nav-fixed">
	<header th:insert="~{fragmentos/nav-bar :: nav-bar}"></header>
	<div id="layoutSidenav" th:insert="~{fragmentos/sidebar :: sidebar}"></div>
	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7" style="margin-top: 10%; width: 1000px;">
					<div class="card shadow-lg border-0 rounded-lg mt-5">
						<div class="card-header">
							<h3 class="text-center font-weight-light my-4">Criar Evento</h3>
						</div>
						<div class="card-body" style="margin-top: 10%;">
							<form>
								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="nomeEvento" type="text"
												placeholder="Nome Do Evento" />
											<label for="nomeEvento">Nome Do Evento</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating">
											<input class="form-control" id="dataEvento" type="date"
												placeholder="data do evento " />
											<label for="dataEvento">Data do Evento</label>
										</div>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<select  id="inputState" class="form-control">
												<option selected>[--Estatus Evento--]</option>
												<option th:each="status : ${T (erick.br.enums.StatusEvent).values()} " th:value="${status}"  th:text="${status}"></option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="cidade" type="text"
												placeholder="nome da cidade" />
											<label for="cidade">cidade</label>
										</div>
									</div>
								</div>
								
								<div class="row mb-3">
									
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="bairro" type="text"
												placeholder="nome do bairro " />
											<label for="bairro">Bairro</label>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-floating mb-3 mb-md-0">
											<input class="form-control" id="rua" type="text"
												placeholder="nome da rua " />
											<label for="rua">Rua</label>
										</div>
									</div>
								</div>
								<div class="mt-4 mb-0">
									<div class="d-grid"><a class="btn btn-primary btn-block" href="login.html">Agendar Evento</a></div>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
	crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

</html>