<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="~{fragmentos/head :: head('agendar evento')}"></head>
<link th:href="@{/css/card-styler.css}" rel="stylesheet" />

<body class="sb-nav-fixed">
	<header th:replace="~{fragmentos/nav-bar :: nav-bar}"></header>
	<div id="layoutSidenav" th:insert="~{fragmentos/sidebar :: sidebar}"></div>
	<main>

		<section class="container" style="margin: 150px auto;">
			<h1>Eventos</h1>
			<div class="row">
				<article class="card fl-left">
					<section class="date">
						<time datetime="23th feb">
							<span>23</span><span>feb</span>
						</time>
					</section>
					<section class="card-cont">
						<small>dj khaled</small>
						<h3>live in sydney</h3>
						<div class="even-date">
							<i class="fa fa-calendar"></i>
							<time>
								<span>wednesday 28 december 2014</span>
								<span>08:55pm to 12:00 am</span>
							</time>
						</div>
						<div class="even-info">
							<i class="fa fa-map-marker"></i>
							<p>
								nexen square for people australia, sydney
							</p>
						</div>
						<a href="#">tickets</a>
					</section>
				</article>


			</div>
		</section>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
		crossorigin="anonymous"></script>
	<script src="js/datatables-simple-demo.js"></script>
</body>

</html>