<div id="layoutSidenav_nav" th:fragment="sidebar">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div style="text-align: center;" id="name-user">
			  <strong>Bem vindo</strong>	<p style="color: white;" th:text="${session.usuario.nome}"></p>
			</div>
			<div class="nav">
				<div style="display: flex; align-items: center; justify-content: center;"
					class="sb-sidenav-menu-heading">
					<img class="suafoto" src="#" width="35" height="35"></img>
				</div>

				<div class="sb-sidenav-menu-heading">PAINEL ADMIN</div>
				<a class="nav-link" th:href="@{/agendar}">Agendar Eventos</a>
				<a class="nav-link" th:href="@{/home}" >Voltar Para Home </a>

			</div>
		</div>

	</nav>

</div>