<div id="layoutSidenav_nav" th:fragment="sidebar">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div style="display: flex; align-items: center; justify-content: center;" class="sb-sidenav-menu-heading">
					<img class="suafoto" src="#" width="35" height="35"></img>
				</div>

				<div class="sb-sidenav-menu-heading">PAINEL ADMIN</div>
				<a class="nav-link" href="layout-static.html">Agendar Eventos</a>
				<a class="nav-link" href="layout-sidenav-light.html">Buscar Eventos</a>
				<a class="nav-link" href="layout-static.html">Lista Eventos </a>
				
			</div>
		</div>

	</nav>

</div>