<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Registra Conta </title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header">
									<h3 class="text-center font-weight-light my-4">Crie Sua Conta </h3>
								</div>
								<div class="card-body">
									<form th:action="@{/registrar/usuario}" method="post" th:object="${usuario}">

										<div th:if="${msg != null}"
											class="alert alert-warning alert-dismissible fade show" role="alert">
											<strong th:text="${msg}">Alerta!</strong>
											<button type="button" class="close" data-dismiss="alert"
												aria-label="Close"><span aria-hidden="true">&times;</span></button>
										</div>

										<div class="row mb-3">
											<div class="form-floating mb-3">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control" id="nome" type="text" name="nome"
														th:field="*{nome}" th:errorClass="is-invalid"
														placeholder="Seu Nome" />
													<label for="nome">Nome Do Usuario</label>
													<div class="invalid-feedback" th:errors="*{nome}"></div>

												</div>
											</div>
										</div>

										<div class="form-floating mb-3">
											<input class="form-control" id="text" type="email" name="email"
												th:field="*{email}" th:errorClass="is-invalid" required="required"
												placeholder="name@example.com" />
											<label for="email">E-mail</label>
											<div class="invalid-feedback" th:errors="*{email}"></div>
										</div>

										<div class="row mb-3">
											<div class="form-floating mb-3">
												<div class="form-floating mb-3 mb-md-0">
													<input class="form-control" id="senha" type="password" name="senha"
														th:field="*{senha}" th:errorClass="is-invalid"
														placeholder="crie uma senha " />
													<label for="senha">Senha</label>
													<div class="invalid-feedback" th:errors="*{senha}"></div>
												</div>
											</div>
										</div>


										<div class="mt-4 mb-0">
											<div class="d-grid"><button type="submit"
													class="btn btn-primary btn-block">Criar Conta</button></div>
										</div>
									</form>
								</div>
								<div class="card-footer text-center py-3">
									<div class="small"><a th:href="@{/login}">ir para login</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; Your Website 2023</div>
						<div>
							<a href="#">Privacy Policy</a>&middot;
							<a href="#">Terms &amp; Conditions</a>
							<a href="#">desenvovido por erick bruno </a>

						</div>
					</div>
				</div>
			</footer>
		</div>

	</div>
	

	<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
	crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>



</body>

</html>